body {
/*	padding: 10px 0 0 0;*/
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}


/**********header*****************/
.header {
	border-bottom: 1px solid #DEDEDE;
	display: flex;
	height: 130px;
	box-shadow: 0px 4px 20px rgba(0,0,0,.1);
}

.header--box {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo--img {
	margin-top: 10px;
}

.logo--name {
	margin-left: 150px;
	font-size: 24px;
	font-weight: bold;
	color: #0883ac;
}

.nav {
	display: flex;
	text-decoration: none;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	
}

.header--href {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: #229D43;
	transition: .5s;
}

.header--href:hover {
	color: #25e54d;
	transform: scale(1.1, 1.1);
	
}

/***************** menu *****************/

.menu {
	border-bottom: 1px solid #DEDEDE;
	display: flex;
	align-items: center;
	height: 70px;
	box-shadow: 0px 4px 20px rgba(0,0,0,.1);
}

.menu--box {
	display: flex;
	justify-content: space-between;
}

.menu--item {
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	display: flex;
	color: #fff;
	border-radius: 20px;
	transition: .5s;
	
}

.menu--red {
	background-color: #EE4040;
}

.menu--orange {
	background-color: #FABA18;
}

.menu--yellow {
	background-color: #F7FC10;
}

.menu--green {
	background-color: #14FC10;
}

.menu--lightblue {
	background-color: #10EEFC;
}

.menu--blue {
	background-color: #1019FC;
}

.menu--violet {
	background-color: #E910FC;
}

.menu--item:hover {
	transform: scale(1.3, 1.3);
	
}


/****** slider ******/

.slider {
	display: flex;
	margin: 20px 0;
}

.slider--img {
	display: flex;
	width: 33.333%;
}

/****** section ******/
.section {
	padding: 20px 0 40px 0;
}
.grey {
	background-color: #F6F0F0;
	height: auto;
}

.section--item {
	justify-content: space-between;
	
}

/****** section Музей ******/

.section--header {
	align-content: center;
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	margin: 20px 0;
}

.section--item--box {
	display: flex;
	justify-content: space-between;
}

.section--item--blocks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 32%;
}

.section--item--block {
	display: flex;
	border-radius: 10px;
	padding: 20px;
	height: 100px;
}

.section--item--block:last-child {
	margin-bottom: 0;
}

.block--red {
	background-color: #F7C9c9;
}



.section--item--content {
/*	display: flex;*/
	width: 63%;
	height: 480px;
	font-size: 24px;
	font-weight: 400;
}

.content--header {
	display: flex;
	font-size: 32px;
	font-weight: 700;
}

/****** section События ******/

.block--orange {
	background-color: #FEEEC5;
}

.block--yellow {
	background-color: #F9F8BD;
}

.block--green {
	background-color: #C4FEC3;
}





