.container {
/*	display: block;*/
/*	display: flex;*/
	font-family: 'Roboto', sans-serif;
	border: 1px solid black;
	width: 216px;
	height: 310px;
	margin: 0;
	padding: 5px;
	
	background: linear-gradient(to top, #b9d1ea, #abc4df) ;
	border-radius: 2%;
	
}

.header {
	display: block;
	margin: 0;
	padding-left: 5px;
	width: 216px;
	max-width: 100%;
	height: 23px;
	
}

.img {
	display: inline-block;
}

.title {
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
}
.menu {
	display: block;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 216px;
	height: 18px;
	background: linear-gradient(to top,#d4dbee,#fefeff);
	border-bottom: 1px solid #b6bccc;
}

.menu__item {
	display: inline-block;
	cursor: default;
	margin-left: 2px;
	padding: 0px 5px;
	border: 1px solid rgba(0,0,0,0) ;
	border-radius: 12%;
	font-size: 11px;
	
}

.menu__item:hover {
	font-size: bold;
	border: 1px solid #b6bccc;
}

.main {
	display: block;
	margin: 0;
	padding: 10px;
	width: 195px;
	height: 245px;
	background: linear-gradient(to top,#d9e4f1,#ecf4fc);
}

.screen__block {
	display: block;
	position: relative;
	width: 195px;
	height: 47px;
	border: 1px solid #b6bccc;
	border-radius: 3%;
    margin-bottom: 8px;
	margin-top: 2px;
}

.screen__top {
	display: inline-block;
	position: absolute;
	margin-bottom: 0px;
	padding: 2px 6px 2px 5px;
	
	top: 0px;
	left: 0px;
	
	width: 183px;
	height: 10px;
	font-size: 11px;
	font-weight: 100;
	text-align: right;
	
	border: 0px solid #8e9cad;
	background: linear-gradient(to top,#ecf3fc,#e5eefb);
}

.screen {
	display: inline-block;
	position: absolute;
	top: 17px;
	right: 0px;
	width: 170px;
	height: 27px;
	
	margin-top: 0px;
	padding-right: 5px;
	
	font-size: 20px;
	font-weight: 400;
	text-align: right;
	
	border: 0px solid #8e9cad;
	background: linear-gradient(to top,#feffff,#ecf3fc);
}

.screen__memory {
	display: inline-block;
	position: absolute;
	top: 17px;
	left: 0px;
	margin-top: 0px;
	
	width: 15px;
	height: 27px;
	font-size: 9px;
	font-weight: bold;
	text-align: right;
	
	border: 0px solid #8e9cad;
	background: linear-gradient(to top,#feffff,#ecf3fc);
}

.buttons {
	display: block;
	width: 199px;
	height: 190px;
/*	border: 1px solid black;*/
	
	
}
.btn__sqr {
	width: 36px;
	height: 27px;
	font-size: 11px;
	margin-bottom: 5px;
	text-align: center;
	color: #1e395b;
	background: linear-gradient(to top, #d6e1ef, #eff5fb);
	border: 1px solid #8797aa;
	border-radius: 3%;
	transition: background 1s center;
	
}

.btn__sqr:hover {
	background: linear-gradient(to top, #f0cca6, #f1f094);
}


.btn--dark {
	background: #d4e0ed;
	border: 1px solid #8797aa;
	border-radius: 3%;
}

.btn--light {
	background: linear-gradient(to top, #f2fbff, #f7fbff);
	border: 1px solid #8797aa;
	border-radius: 3%;
}
.long {
	width: 76px;
	background: linear-gradient(to top, #f2fbff, #f7fbff);
	border: 1px solid #8797aa;
	border-radius: 3%;
	
}