.rectangleBlue {
	background-color: #78a0f9;
	width: 300px; 
	height: 300px; 
	position: relative; 
	cursor: none;
}

.rectanglePink {
	background-color: lightpink;
	width: 80px; 
	height: 80px; 
	position: relative; 
	cursor: none;
}

.cursor {
	display: flex;
	width: 50px; 
	height: 50px; 
	border-radius: 50%; 
	background-color: blue; 
	position: absolute; 
	cursor: none;
}


