body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #333;
    line-height: 1.6;
    width: 1920px;
    margin: 0px auto;
    max-width: 100%;

}

*,
*:after,
*:before {
    box-sizing: border-box;


}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;

}

p {
    margin: 0px;
    padding: 0px;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 580px;
    background: url(../images/intro_01.jpg) center no-repeat;

    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle {
    margin-bottom: 15px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;

}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

/* Header */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity: 3s linear;
}

.nav__link:hover,
.nav__link.active {
    color: #fce38a;

}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

/* Botton */
.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    font-size: 14;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .1s linear, background .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;

}

/* Slider */
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    padding: 20px 0;
    border-top: 3px solid #fff;
    width: 23%;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    opacity: .7;

}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    display: block;
    content: "";
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;

}

.slider__num {
    font-size: 24px;
    font-weight: 700;
    -webkit-flex: ;
    -moz-flex: ;
    -ms-flex: ;
    -o-flex: ;
    flex: ;

}

/* Section */

.section {
    padding: 80px 0;
    max-width: 100%;
    height: auto;

}

.header__section {
    text-align: center;
    margin: 50px auto 50px;

}

.sup__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;

}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}

.sub__title {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 960px;
    font-size: 15px;
    font-weight: 400;
    margin: 0px auto;
    color: #999;*/
}

.about {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;

}

.about__item {
    width: 380px;
    background-color: #95e1d3;
    position: relative;
    margin: 0 10px;

}

.about__item:hover .about__img img {
    opacity: .1;

}

.about__item:hover .about__img {
    transform: translate(-10px, -10px);
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #fce28a, #f38181);
    transition: transform .1s linear;
}

.abt__img {
    max-width: 100%;
    height: auto;
}

.about__img img {
    transition: opacity .2s linear;
    display: block;
}

.about__text {
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity .2s linear;

}

/* Statistics */

.statistics__box {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0px auto 30px;
    /*    width: 1920px;*/
    height: 270px;
    background-color: #95e1d3;
}


.statiscics__item {
    text-align: center;

    padding: 60px 0px;
    width: 240px;
    height: 270px;
    border-left: 1px solid #b5eae0;
    display: inline-block;
}

.statiscics__item__last {
    text-align: center;
    padding: 60px 0px;
    width: 240px;
    height: 270px;
    border-left: 1px solid #b5eae0;
    border-right: 1px solid #b5eae0;
    display: inline-block;
}

.stat__number {
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;


}

.stat__text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;

}


/* services */

.line__service {
    margin: 0px;
    display: flex;
    color: #999999;
    justify-content: space-between;
}

.line__service:last-child {
    border-top: 1px solid #e5e5e5;
}

.service__item {
    max-width: 33%;
    padding: 55px 30px;
    display: inline-block;
}

.item__icon {
    display: inline-block;
    float: left;
    margin: 5px 15px 15px;
}

.item__header {
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 2;
    color: #333333;

}

.item__text {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}


/* design */
.section--design {
    background: #eeeeee url(../images/design/design-bg.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 110px;
}

.design__blk {
    position: relative;
    display: block;
    width: 100%;
    max-width: 590px;
    margin: 0px auto;
    height: 500px;
}

.ipad {
    position: absolute;
    left: 30px;
}

.iphone {
    position: absolute;
    right: -30px;
    top: 200px;
}

.design__img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* what_we_do */
.wedo {
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
/*    position: relative;*/
}

.wedo__img {
/*    position: absolute;*/
    width: 50%;
}

.wedo__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.wedo__accord {
    width: 50%;
}

.accord__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accord__item.active .item__content {
    display: block;
}

.accord__item.active .header__strela {
    transform: rotate(-45deg);
}

.accord__item__header {
    display: flex;
    padding: 15px 20px 15px;
    cursor: pointer;
    position: relative;

}


.header__img {
    margin: 0px;
}

.header__title {
    margin: 5px 15px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;


}

.item__content {
    padding: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
    display: none;
    border-top: 1px solid #e5e5e5;
}

.header__strela {
    transform: rotate(135deg);
    height: 15px;
    width: 15px;
    border-top: 3px solid #e5e5e5;
    border-right: 3px solid #e5e5e5;
    margin-top: 3px;
    position: absolute;
    right: 20px;
}


/* reviews */

.section--reviews {
    background-color: #f8f8f8;
}

.reviews {
    padding: 0px 110px;
    position: relative;
}

.reviews__item {
    padding-left: 250px;
    position: relative;
}

.reviews__icon {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.reviews__text {
    color: #999999;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 300;
    font-style: italic;
    margin-bottom: 10px;
}

.reviews__author {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
}

.reviews__author:before {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.reviews__btn {
    font-size: 0px;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

}

.reviews__btn--left {
    left: 10px;
    transform: translateY(-50%) rotate(-135deg)
}

.reviews__btn--right {
    right: 10px;
    transform: translateY(-50%) rotate(45deg)
}


/* Team */
.team__items {
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 31%;
    text-align: center;

}

.team__item__photo__bg {
    background-color: #95e1d3;
}

.team__item__photo {
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(#f38181, #fce38a);


    transition: transform .2s linear;
}

.team__item__photo:hover {
    transform: translate(-10px, -10px);
}

.team__item__photo:hover .team__img {
    opacity: .1;
}

.team__item__photo:hover .team__img__msg {
    opacity: 1;
}

.team__img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.team__img__msg {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 1;

}

.team__item__name {
    font-size: 14px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 25px 0px 0px;
    font-weight: 400;
}

.team__item__position {
    color: #999999;
    font-size: 15px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;

}


/* Logos */
.logos {
    background-color: #f8f8f8;
    height: 250px;
    padding-top: 60px;
    /*    margin-bottom: 70px;*/
}

.logotyps {
    display: flex;
    justify-content: space-around;
}




/* our work*/
.our__work {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.our__work__col {
    flex: 1 1 0;
}

.our__work__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
    text-align: center;
    line-height: 2;


}

.our__work__item:hover .our__work__img {
    opacity: .1;
}

.our__work__item:hover .our__work__txt {
    opacity: 1;
}

.our__work__txt {
    width: 100%;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    z-index: 1;

    opacity: 0;
    transition: opacity .2s linear;
}

.our__work__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.our__work__title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.our__work__text {
    color: #ffffff;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;


}


/* Revies Joshua Earle */

.section--white {
    background-color: #fff;
}


/* People */
.people--say {
    background: url(../images/people_say/bg.jpg) center no-repeat;
    background-size: cover;
}

.people__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

}

.people__item {
    width: 50%;
    height: auto;
    position: relative;
    text-align: left;
    padding: 0px 50px 0px 180px;
    /*    margin-bottom: 80px;*/
}

.people__row:last-child {
    margin-bottom: 0;
}


.people__item__img {
    position: absolute;
    top: 0;
    left: 40px;
}

.people__item__data {
    line-height: 2;
}


.people__name {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.people__position {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.people__position:after {
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    background-color: #f38181;
    margin-top: 10px;
}

.people__text {
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

/* Blogs */
.blogs {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
}

.blogs__item {
    position: relative;
    width: 32%;
    max-width: 100%;
    padding-right: 5px;
}

.blogs__img {
    position: relative;
}

.blg__img {
    max-width: 100%;
    height: auto;
}

.blogs__date {
    position: absolute;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    bottom: 20px;
    left: -10px;
    line-height: 1;
}

.date__number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.date__month {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.blogs__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px auto;
}

.blogs__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.blogs__stat {
    display: flex;
    color: #999999;
}

.blogs__view {
    display: inline-block;
    margin-right: 10px;
}

.blogs__comments {
    display: inline-block;
}

.stat__icon {
    display: inline-block;
}

.blogs__stat__number {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
}


/* Map*/
.section--map {
    background: #e2e2e2 url(../images/map/map_bg.jpg) no-repeat center;
    padding: 40px 0;
}

.map__blok {
    text-align: center;
}

.map__link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #f38181;
}

.map__link:after {
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    background-color: #f38181;
    margin: 10px auto;
}

.map__blok:hover .map__link {
    text-decoration: underline;
}

.map__blok:hover .map__link:after {
    background-color: #f38181;
}


/* Contacts */
.section--contacts {
    background-color: #f8f8f8;
}

.contacts {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-around;
    border-bottom: 1px solid #e5e5e5;
}

.contacts__mogo {
    width: 40%;
    padding: 0px 10px;
}

.contacts__mogo__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 20px;

}

.contacts__mogo__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    font-weight: 400;
    margin-bottom: 50px;
}

.contacts__mogo__followers {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.contacts__mogo__followers__number {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.contacts__mogo__followers__text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.contacts__mogo__follow_us__txt {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    font-weight: 300;
    font-style: italic;
    margin-right: 5px;
}

.contacts__mogo__follow_us__link {
    display: inline-block;
    padding: 5px 3px 0px;
    vertical-align: middle;
}





.contacts__blogs {
    width: 35%;
    padding-left: 10px;
    margin-left: 30px;
}

.contacts__blogs__header {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin: 30px 0;
    /*    padding-left: 30px;*/
}

.contacts__blogs__item {
    position: relative;
    margin-bottom: 50px;
    padding: 0 30px 0 135px;
}

.contacts__blogs__item__img {
    position: absolute;
    top: 0;
    left: 0;
}

.contacts__blogs__item__text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
    padding-top: 15px;
}

.contacts__blogs__item__date {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #999;
    font-weight: 400;
    font-style: italic;
}

.contacts__instagram {
    width: 25%;
    margin-left: 35px;
    text-align: left;

}

.contacts__insta {
    display: flex;
    flex-wrap: wrap;
}

.contacts__instagram__item {
    width: 32%;
    max-width: 100%;
    height: auto;
    margin: 1px;
    display: block;
}

.contacts__insta__bottom__txt {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    font-style: italic;
}

.contacts__insta__bottom__link {
    text-decoration: none;
}

.contacts__insta__bottom__link:hover {
    text-decoration: underline;
}

.contacts__bottom__text {
    margin-top: 25px;
    text-align: center;
}

.contacts__bottom__text__red {
    color: #f38181;
}


/* Subscribe */

.subscribe {
    display: flex;
    margin-top: 40px;
    width: 100%;
    max-width: 380px;
}

.subscribe__input {
    height: 40px;
    width: 60%;
    padding: 12px;

    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.subscribe__input::placeholder {
    color: green;
}

.subscribe__input:focus {
    outline: none;
    border-color: #95e1d3;
}

.subscribe__btn {
    width: 40%;
    height: 40px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    padding: 12px 30px;
    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #3dccb2;
}

.subscribe__btn:focus {
    outline: none;
}


/* MEDIA */
@media (max-width:1230px) {
    /* Intro */
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }
}

@media (max-width:990px) {
    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }
}


@media (max-width:770px) {
    /* Intro */
    .nav {
        display: none;
    }
    
    .slider__text {
        display: none;
    }
    
    .slider__item.active:before {
        width: 50%;
    }
    
    /*Section*/
    .section {
        padding: 0 40px;
    }
    
    .header__section {
        margin: 30px auto;
    }
    
    /*About*/
    .about {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about__item {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .about__item:last-child {
        margin-bottom: 0px;
    }
    .about__img {
        width: 100%;
    }
    
}

@media (max-width:575px) {
    /* Intro */
    .intro__suptitle {
        font-size: 12px;
    }

    .intro__title {
        font-size: 40px;
    }
    
    /*Section*/
    .sup__title {
        font-size: 14px;
    }
    
    .title {
        font-size: 20px;
    }
    .title:after {
        margin: 20px auto;
    }
    
    .header__section {
        margin-bottom: 30px auto;
    }
}
